@import "tailwindcss";

@theme {
  --font-sans: "Times New Roman", Times, serif;
  --font-mono: var(--font-ibm-plex-mono), "Courier New", monospace;
}

:root {
  --background: #fdfdfc;
  --foreground: #1a1615;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
